.box{
    align-content: center;
    background-color: hotpink;
    text-align: center;
    height: 200px;
    width: 300px;
    padding: 15px;
    display: inline-block;
    margin: 10px;
}
.box2{
    align-content: center;
    background-color:lime;
    text-align: center;
    height: 200px;
    width: 300px;
    padding: 15px;
    display: inline-block;
    margin: 10px;
}