.box{
    align-content: center;
    background-color: hotpink;
    text-align: center;
    height: 40px;
    width: 120px;
    padding: 15px;
    display: inline-block;
    margin: 5px;
}
.box2{
    align-content: center;
    background-color:lime;
    text-align: center;
    height: 40px;
    width: 120px;
    padding: 15px;
    display: inline-block;
    margin: 5px;
}
.box3{
    align-content: center;
    background-color: burlywood;
    text-align: center;
    height: 40px;
    width: 120px;
    padding: 15px;
    display: inline-block;
    margin: 5px;
}
.box4{
    align-content: center;
    background-color:powderblue;
    text-align: center;
    height: 40px;
    width: 120px;
    padding: 15px;
    display: inline-block;
    margin: 5px;
}