.div-centralizada{
    display: inline-block;
    background-color: hotpink;
    height: 300px;
    width: 400px;
}
.box{
    align-content: center;
    text-align: center;
    background-color:lime;
    height: 100px;
    width: 200px;
    margin: 100px 80px;
}