.caixa{
    position:relative;
    height: 400px;
    width: 300px;
    background-color: lightblue;

    top: 0px;
}
.cx-menor{
position: absolute;
bottom: 0;
right: 0;
height: 100px;
width: 100px;
background-color: greenyellow;
}